* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #202733;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app {
  width: 100%;
  max-width: 500px;  
  /* min-width: 280px; Set a minimum width for readability */
  padding: 20px;
  border-radius: 25px;
  background-color: #303b49;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 60px;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.advice-container {
  overflow: hidden;
}

.advice-id {
  color: #47bb89;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px;
}

.advice-text {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.dice {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.dice-btn {
  background-color: #52ffaa;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 5px rgba(82, 255, 170, 0.5), 0 0 5px 5px rgba(82, 255, 170, 0.3);
}

@media (max-width: 768px) {
  .app {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
  }

  .advice-text {
    font-size: 20px;
  }

  .divider {
    padding-bottom: 30px;
  }

  .dice-btn {
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .app {
    padding: 10px;
    border-radius: 15px;
  }

  .advice-text {
    font-size: 18px;
  }
}
